@import "settings";
@import "foundation";

h1 {
    font-family: 'Shadows Into Light', cursive;
    background:#0a8ab9;
}

.top1{
     margin-left: 39%;
    font-size: 20px;
}


.first-col{
    font-family: "palatino", palatino, sans-serif;
    outline: 2px solid black;
    height: 420px;
}

.title {
    text-decoration-color: red;
    margin-bottom: -20px;
    font-family: 'Ruslan Display', cursive;
    
}

.temp {
    width:200px;
    font-size: 90px;
   margin-left: 195px;
    margin-top: -140px;
    position: absolute;
}


.second-col {
    font-family: "palatino";
    height: 420px;
    outline: 2px solid black;
}

.wximages {
       width:200px;
    
    
}

.menuitems {
     position: fixed;
     width:115px;
     height: 52px;
     top:50%;
     left:50%;
     margin:-50px 0 0 -80px;
     background:#0a8ab9;
}

.center {
    background-color: white;
    font-family: "palatino", sans-serif;
    text-align: center; 
    margin-top: 40px;
}


.texts {
  padding-top: 20px;
}

.texts1 {
    padding-top: 20px;
   
}

.zip{  
    width: 50%;
     margin-left: 33%;
}